/**
 * Created by kintesh on 26/02/15.
 */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans');
    src: url('../fonts/Open_Sans-Regular.eot');
    src: url('../fonts/Open_Sans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans-Regular.woff2') format('woff2'),
    url('../fonts/Open_Sans-Regular.woff') format('woff'),
    url('../fonts/Open_Sans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold');
    src: url('../fonts/Open_Sans-Bold.eot');
    src: url('../fonts/Open_Sans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans-Bold.woff2') format('woff2'),
    url('../fonts/Open_Sans-Bold.woff') format('woff'),
    url('../fonts/Open_Sans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic');
    src: url('../fonts/Open_Sans-Italic.eot');
    src: url('../fonts/Open_Sans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans-Italic.woff2') format('woff2'),
    url('../fonts/Open_Sans-Italic.woff') format('woff'),
    url('../fonts/Open_Sans-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans');
    src: url('../fonts/SourceCodePro-Regular.eot');
    src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
    url('../fonts/SourceCodePro-Regular.woff') format('woff'),
    url('../fonts/SourceCodePro-Regular.ttf') format('ttf');
}
