/**
 * Created by kintesh on 17/02/15.
 */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans');
    src: url('../fonts/Open_Sans-Regular.eot');
    src: url('../fonts/Open_Sans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans-Regular.woff2') format('woff2'),
    url('../fonts/Open_Sans-Regular.woff') format('woff'),
    url('../fonts/Open_Sans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold');
    src: url('../fonts/Open_Sans-Bold.eot');
    src: url('../fonts/Open_Sans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans-Bold.woff2') format('woff2'),
    url('../fonts/Open_Sans-Bold.woff') format('woff'),
    url('../fonts/Open_Sans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic');
    src: url('../fonts/Open_Sans-Italic.eot');
    src: url('../fonts/Open_Sans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans-Italic.woff2') format('woff2'),
    url('../fonts/Open_Sans-Italic.woff') format('woff'),
    url('../fonts/Open_Sans-Italic.ttf') format('ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    margin: 0;
}

body, .slide {
    background-color: #FFF !important;
    color: #000 !important;
}

.sBar {
    display: none;
}

.sControls {
    display: none;
}

@page {
    margin: 0.6in;
}

.slide {
    border: 1px solid #DDD;
    margin-top: 5px;
    padding: 0 20px;
    position: relative;
    display: block !important;
    opacity: 1 !important;
    transform: none !important;
    z-index: 0 !important;
    height: 480px !important;
    page-break-after: avoid;
}

.title_title {
    text-align: center;
    font-size: 2vh !important;
}

.title_subTitle {
    text-align: center;
    font-size: 1.5vh !important;
}

.title_author {
    text-align: center;
    font-size: 1.2vh !important;
}

.title_date {
    text-align: center;
    font-size: 1.2vh !important;
}

hr {
    border: 1px dashed coral;
}

.controlled_elem {
    visibility: visible !important;
    opacity: 1 !important;
}

table {
    width: 100% !important;
    border-collapse: collapse !important;
    border: 1px solid #98bf21 !important;
}

table td, table th {
    font-size: 1em !important;
    border-right: 1px solid #98bf21 !important;
    padding: 3px 7px 2px 7px !important;
}

table th {
    font-size: 1.1em !important;
    text-align: left !important;
    background-color: #A7C942 !important;
    color: #ffffff !important;
    border-bottom: 1px solid #98BF21 !important;
}

table tr.alt td {
    color: #000000 !important;
    background-color: #EAF2D3 !important;
}

img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

