/**
 * Created by kintesh on 14/02/15.
 */

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans');
    src: url('../fonts/Open_Sans-Regular.eot');
    src: url('../fonts/Open_Sans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans-Regular.woff2') format('woff2'),
        url('../fonts/Open_Sans-Regular.woff') format('woff'),
        url('../fonts/Open_Sans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold');
    src: url('../fonts/Open_Sans-Bold.eot');
    src: url('../fonts/Open_Sans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans-Bold.woff2') format('woff2'),
        url('../fonts/Open_Sans-Bold.woff') format('woff'),
        url('../fonts/Open_Sans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic');
    src: url('../fonts/Open_Sans-Italic.eot');
    src: url('../fonts/Open_Sans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans-Italic.woff2') format('woff2'),
        url('../fonts/Open_Sans-Italic.woff') format('woff'),
        url('../fonts/Open_Sans-Italic.ttf') format('ttf');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6vh;
    margin: 0;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

body, .slide {
    background-color: #f0f0f0;
    color: #000;
}

.sBar {
    background-color: cornflowerblue;
    height: 0.5vh;
    bottom: 0;
    position: fixed;
    width: 0vw;
    z-index: 100;

    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.sControls {
    background-color: black;
    color: #FFF;
    border: 2px solid #999;
    border-radius: 10px;
    bottom: 2vh;
    left: 2vh;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    z-index: 150;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sControls:hover {
    opacity: 0.8 !important;
}

.sControls .cBtn {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 10vh;
    float: left;
}

.cBtn i {
    display: block;
    font-size: 3vh;
    padding: 1.5vh;
}

.cBtn span {
    font-size: 1.5vh;
}

.cBtn:hover > i {
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.slide {
    padding: 0 10vw;
    width: 80vw;
    position: fixed;
    height: 100vh;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.slide_hidden {
    transform: translate(0vw);
    display: none;
    opacity: 0;
}

.slide_previous {
    transform:  scale(1.2,1.2);
    display: block;
    opacity: 0;
}

.slide_current {
    transform: translate(0vw);
    display: block;
    opacity: 1;
    z-index: 10;
}

.slide_next {
    transform:  scale(0.8,0.8);
    display: block;
    opacity: 0;
}


.title_title {
    text-align: center;
    line-height: 50vh;
}

.title_subTitle {
    text-align: center;

}

.title_author {
    text-align: center;
}

.title_date {
    text-align: center;
}

hr {
    border: 1px dashed coral;
}

.controlled_elem {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hide_elem {
    visibility: hidden;
    opacity: 0;
}

.reveal_elem {
    visibility: visible;
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #98bf21;
}

table td, table th {
    font-size: 2.6vh;
    border-right: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

table th {
    font-size: 2.7vh;
    text-align: left;
    background-color: #A7C942;
    color: #ffffff;
    border-bottom: 1px solid #98BF21;
}

table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/**
 * Slides Console
 */

.block {
    z-index: 1000;
    text-align: center;
    font-size: 10vh;
    background: none repeat scroll 0% 0% rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    opacity: 0.96;
    line-height: 90vh;
}

.console-top_controls {
    position: absolute;
    background-color: rgb(34, 34, 34);
    height: 100vh;
    color: rgb(240, 240, 240);
    text-align: center;
    width: 10vh;
    top:0;
}

.console-top_controls .btn {
    cursor: pointer;
    text-align: center;
    margin-top: 2vh;
}

.console-top_controls .btn:hover {
    background-color: #2f6fad;
}

.console-top_controls .btn .cBtn i {
    display: block;
    font-size: 3vh;
    padding: 1.5vh;
}

.console-top_controls .btn .cBtn:hover > i {
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.console-top_controls .btn .cBtn span {
    font-size: 1.5vh;
}

.console-views, .console-tools {
    margin-left: 11vh;
    margin-top: 1vh;
}


.console-view_curr, .console-view_next {
    border: 1px solid #000;
}

.console-view_curr {
    width: 45vw;
    height: 60vh;
}

.console-view_next {
    width: 45vw;
    height: 55vh;
    margin-left: 1vh;
}

.console-tools .today {
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.console-tools .duration {
    float: left;
    width: 15vw;
    text-align: center;
}

.duration-lbl {
    font-size: 2vh;
}

.duration-time {
    font-size: 5vh;
}

.sHelp {
    background-color: rgba(0, 0, 0, 0.94);
    position: absolute;
    z-index: 1000;
    margin-top: 10%;
    text-align: center;
    color: #FFF;
    padding: 2vh;
}

.sHelp .btn_close {
    color: indianred;
    font-size: 4vh;
    right: 2vh;
    position: absolute;
    top: 0;
}

.sHelp .btn_close:hover {
    color: brown;
    cursor: pointer;
}

.sHelp img {
    width: 80%;
    margin-bottom: 25px;
}