/**
 * Created by kintesh on 14/02/15.
 */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6vh;
    margin: 0;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

body, .slide {
    background-color: #fff;
    color: #000;
}

.sBar {
    background-color: cornflowerblue;
    height: 0.5vh;
    bottom: 0;
    position: fixed;
    width: 0vw;
    z-index: 100;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.sControls {
    background-color: black;
    color: #FFF;
    border: 2px solid #999;
    border-radius: 10px;
    bottom: 2vh;
    left: 2vh;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    z-index: 150;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sControls:hover {
    opacity: 0.8 !important;
}

.sControls .cBtn {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 10vh;
    float: left;
}

.cBtn i {
    display: block;
    font-size: 3vh;
    padding: 1.5vh;
}

.cBtn span {
    font-size: 1.5vh;
}

.cBtn:hover > i {
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.slide {
    padding: 0 10vw;
    width: 80vw;
    position: fixed;
    height: 100vh;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slide_hidden {
    transform: translate(0vw);
    display: none;
    opacity: 0;
}

.slide_previous {
    display: block;
}

.slide_current {
    display: block;
}

.slide_next {
    display: block;
}

.align_middle {
    display: table;
    width: 100%;
    height: 100%;
}

.middle_container {
    display: table-cell;
    vertical-align: middle;
}

.controlled_elem {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hide_elem {
    visibility: hidden;
    opacity: 0;
}

.reveal_elem {
    visibility: visible;
    opacity: 1;
}


/**
 * Slides Console
 */

.block {
    z-index: 1000;
    text-align: center;
    font-size: 10vh;
    background: none repeat scroll 0% 0% rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    opacity: 0.96;
    line-height: 90vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.console-top_controls {
    position: absolute;
    background-color: rgb(34, 34, 34);
    height: 100vh;
    color: rgb(240, 240, 240);
    text-align: center;
    width: 10vh;
    top:0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.console-top_controls .btn {
    cursor: pointer;
    text-align: center;
    margin-top: 2vh;
}

.console-top_controls .btn:hover {
    background-color: #2f6fad;
}

.console-top_controls .btn .cBtn i {
    display: block;
    font-size: 3vh;
    padding: 1.5vh;
}

.console-top_controls .btn .cBtn:hover > i {
    font-size: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.console-top_controls .btn .cBtn span {
    font-size: 1.5vh;
}

.console-views, .console-tools {
    margin-left: 11vh;
    margin-top: 1vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


.console-view_curr, .console-view_next {
    border: 1px solid #000;
}

.console-view_curr {
    width: 45vw;
    height: 60vh;
}

.console-view_next {
    width: 45vw;
    height: 55vh;
    margin-left: 1vh;
}

.console-tools .duration {
    float: left;
    width: 15vw;
    text-align: center;
}

.duration-lbl {
    font-size: 2vh;
}

.duration-time {
    font-size: 5vh;
}


/*
 * Help menu
 */
.sHelp {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 1000;
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.sHelp .btn_close {
    color: indianred;
    font-size: 5vh;
    right: 2vh;
    position: absolute;
    top: 0;
}

.sHelp .btn_close:hover {
    color: brown;
    cursor: pointer;
}

.sHelp img {
    width: 80%;
    margin-bottom: 25px;
}

.help_table {
    display: table;
    width: 50%;
    margin: 5vh auto;
}

.help_table_row {
    display: table-row;
}

.help_table_cell {
    display: table-cell;
    padding: 1vh;
    border-bottom: 2px solid #333333;
}